.citySearchForm {
  padding: 10px;
}

.inputCity {
	padding: 5px 10px;
	color: black;
	border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
	border-radius: var(--default-border-radius);
	margin-right: 5px;
	width: 60%;
    min-width: 100px;
    max-width: 150px;
}

.inputCity::placeholder {
	color: var(--color-placeholder);
}

.submitSearch {
	padding: 5px 10px;
	color: black;
	background-color: white;
	border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
	border-radius: var(--default-border-radius);
	cursor: pointer;
}