:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* Colors */
  --color-primary: #0070f3;
  --color-placeholder: lightgray

  /* Spacing */

  /* Borders */
  --default-border: 1px solid var(--color-borders);
  --default-border-width: 1px;
  --default-border-style: solid;
  --default-border-color: lightgray;
  --default-border-color: red;
  --default-border-radius: 5px;
}
